@page "/"
@using BlazorRealTimeData.Controllers;
@using BlazorRealTimeData.Data;
@using Microsoft.AspNetCore.SignalR.Client;
@inject IMessageController _service
@inject NavigationManager Navigation

<PageTitle>Live Data Page</PageTitle>

@foreach(var message in Messages)
{
    <p>@message.Id | @message.RegNum | @message.Sender | @message.Title | @message.Reciever | @message.Status </p>
}


@code{
    List<Message> Messages = new List<Message>();

    private HubConnection? hub;
    protected override async Task OnInitializedAsync()
    {
        Messages = await _service.GetMessageAsync();

        hub = new HubConnectionBuilder().WithUrl(Navigation.ToAbsoluteUri("/messagehub")).Build();

        hub.On<List<Message>>("RefreshMessages", messages =>
        {
            Messages = messages;
            InvokeAsync(StateHasChanged);
        });

        await hub.StartAsync();
    }
}